USE [master]
GO
/****** Object:  Database [UWE]    Script Date: 4/26/2024 3:12:15 AM ******/
CREATE DATABASE [UWE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UWE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UWE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UWE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UWE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UWE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UWE]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/26/2024 3:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blocks]    Script Date: 4/26/2024 3:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blocks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[UpdatedTime] [datetime2](7) NULL,
	[Latitude] [float] NOT NULL,
	[Longtitude] [float] NOT NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[Front] [float] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[ZoneId] [int] NOT NULL,
	[DelFlag] [bit] NOT NULL,
	[BlockId] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[ZoneLinkId] [int] NULL,
 CONSTRAINT [PK_Blocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/26/2024 3:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DelFlag] [bit] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[UpdatedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terminals]    Script Date: 4/26/2024 3:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terminals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[UpdatedTime] [datetime2](7) NULL,
	[Latitude] [float] NOT NULL,
	[Longtitude] [float] NOT NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[Front] [float] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[ZoneId] [int] NOT NULL,
	[DelFlag] [bit] NOT NULL,
	[TerminalId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Terminals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 4/26/2024 3:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZoneId] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[UpdatedTime] [datetime2](7) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[DelFlag] [bit] NOT NULL,
 CONSTRAINT [PK_Zones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Blocks_CategoryId]    Script Date: 4/26/2024 3:12:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_Blocks_CategoryId] ON [dbo].[Blocks]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Blocks_ZoneId]    Script Date: 4/26/2024 3:12:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_Blocks_ZoneId] ON [dbo].[Blocks]
(
	[ZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Terminals_ZoneId]    Script Date: 4/26/2024 3:12:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_Terminals_ZoneId] ON [dbo].[Terminals]
(
	[ZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blocks] ADD  DEFAULT (CONVERT([bit],(0))) FOR [DelFlag]
GO
ALTER TABLE [dbo].[Terminals] ADD  DEFAULT (CONVERT([bit],(0))) FOR [DelFlag]
GO
ALTER TABLE [dbo].[Zones] ADD  DEFAULT (CONVERT([bit],(0))) FOR [DelFlag]
GO
ALTER TABLE [dbo].[Blocks]  WITH CHECK ADD  CONSTRAINT [FK_Blocks_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Blocks] CHECK CONSTRAINT [FK_Blocks_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Blocks]  WITH CHECK ADD  CONSTRAINT [FK_Blocks_Zones_ZoneId] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[Zones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blocks] CHECK CONSTRAINT [FK_Blocks_Zones_ZoneId]
GO
ALTER TABLE [dbo].[Terminals]  WITH CHECK ADD  CONSTRAINT [FK_Terminals_Zones_ZoneId] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[Zones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Terminals] CHECK CONSTRAINT [FK_Terminals_Zones_ZoneId]
GO
USE [master]
GO
